.dashboardContainer{
   height: 100%;
   width: 100%;
}

.headerContainer{
    width: 99.9%;
    display: flex;
    align-items: center;
    background-color: #fbfcfc;
    border: 1.5px solid #e0e0e0;
}

.header{
    width: 94%;
    height: 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
    margin-left:25px;
}